@import '~grommet/scss/hpe/index';
.hidden {visibility:hidden}
.nodisplay {display:none}

:focus{
    outline: none;
}

.grommetux-form-field {
    overflow: hidden;
}

.grommetux-layer{
  background-color:rgba(255, 255, 255, 100);
}

.grommetux-tab--active .grommetux-tab__label {
    border-color: #01a982;
}

.grommetux-meter--bar .grommetux-meter__values .grommetux-meter__slice{
	animation : none;
}

.grommetux-tabs--justify-start.grommetux-tabs--responsive, .grommetux-tabs--justify-center.grommetux-tabs--responsive, .grommetux-tabs--justify-end.grommetux-tabs--responsive{
    flex-direction: row;
}
  
.title {
  text-align: center;
  font-size: 26px;
}
  
.delete-button:hover, .tableSorter th:nth-child(2):hover, .wrongdateformat{
  cursor: pointer; 
  cursor: hand;
}

.grommetux-table--small td {
    display: table-cell;
    padding: 0;
}
.grommetux-table--small tr:nth-child(1) {
    border-top: 2px solid #00A981;
}

.grommetux-table--small td:before {
    content: none;
}

.grommetux-table th {
    border-top: 2px solid #00A981;
}

.grommetux-table tr {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-right: 2px solid #01a982;
    border-left: 2px solid #01a982;
}

.grommetux-table tr:last-of-type {
    border-bottom: 2px solid #01a982;
}

// .grommet.grommetux-drop:not([class*="background-color-index-"]){
//     border: 2px solid #425563;
// }
.grommetux-date-time-drop{
    border: 2px solid #425563;
}
